{% extends 'base.html.twig' %}

{% block title %} {{ ad.title }} {% endblock %}

{% block body %}

    <div class="ad-title" style="background-image: url({{ asset('img/3.jpg') }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }} F CFA / Nuit</strong>
            </p>
            <a href="{{ path('booking_create', {'slug' : ad.slug}) }}" class="btn btn-primary">Réserver</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-success">Modifier l'annonce</a>
                <a href="{{ path('ads_delete', {'slug': ad.slug}) }}"
                   onclick="return confirm(`Etes-vous sûr(e) de supprimer cette annonce : {{ ad.title }}`)" class="btn btn-danger">Supprimer l'annonce</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
       <div class="row">
           <div class="col-md-8 mb-3">
                {{ ad.content | raw }}
               <div id="demo" class="carousel slide"  data-ride="carousel">
                   <!-- Indicators -->
                   <ul class="carousel-indicators" >
                       {% for image in ad.images %}
                       <li data-target="#demo" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %} "></li>
                       {% endfor %}
                   </ul>
                   <!-- The slideshow -->
                   <div class="carousel-inner" >
                       {% for image in ad.images %}
                       <div class="carousel-item {% if loop.first %}active{% endif %}" >
                           <img src="{{ asset('img/14.jpg') }}" alt="Los Angeles" class="img-thumbnail">
                           <div class="carousel-caption" >
                               <h3>{{ ad.title }}</h3>
                               <p>{{ image.caption }} </p>
                           </div>
                       </div>
                       {% endfor %}
                   </div>
                   <!-- Left and right controls -->
                   <a class="carousel-control-prev" href="#demo" data-slide="prev"><span class="carousel-control-prev-icon" ></span>
                   </a>
                   <a class="carousel-control-next"  href="#demo" data-slide="next"><span class="carousel-control-next-icon" ></span>
                   </a>
               </div>
               <hr>

               {% if ad.comments | length > 0 %}
                <h3 class="mb-3">Les commentaires : </h3>

                   <div class="alert alert-info">
                       <h4 class="alert-heading">
                           <div class="row align-items-center">
                               <div class="col">
                                   <p>Note globale donnée par les voyageurs</p>
                               </div>
                               <div class="col">
                                   {% include 'shared/rating.html.twig' with {'rating' : ad.avgRatings} %}
                                   <br>
                                   <span>Calculée sur({{ ad.comments | length }}) avis !</span>
                               </div>
                           </div>
                       </h4>
                   </div>

                   {% for comment in ad.comments %}
                        <div class="bg-light rounded mb-2 py-3 px-3">
                             <strong>{{ comment.author.fullName }} : </strong>
                            <blockquote>
                                {{ comment.content }}
                            </blockquote>
                            <strong>Note: {{ comment.author.fullName }} :</strong>
                            {% set rating = comment.rating %}
                            {% include 'shared/rating.html.twig' %}
                        </div>
                   {% endfor %}

               {% else %}
                   <h3>Cette annonce n'a pas encore reçue de commentaires...</h3>
               {% endif %}

           </div>

           <div class="col">

               {% set a = ad.author %}
               {% set userUrl = path('user_show', {'slug': a.slug})  %}

               <div class="row mb-3 align-items-center">
                   <div class="col-3">
                       <a href="{{ userUrl }}">
                           <img src="{{ asset('img/el.jpg') }}" class="avatar avatar-medium" alt="{{ a.fullName }}">
                       </a>
                   </div>
                   <div class="col">
                       <a href="{{ userUrl }}">
                           <h3>{{ a.fullName }}</h3>
                       </a>
                        <span class="badge badge-primary">{{ a.ads | length}} annonce(s)</span>
                   </div>
               </div>
               {{ a.description | raw }}
           </div>
       </div>
    </div>

{% endblock %}


